<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989039084471-8oi7gqac2enfibtr1pgfac9p25r5h47u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989039084471-8oi7gqac2enfibtr1pgfac9p25r5h47u</string>
	<key>API_KEY</key>
	<string>AIzaSyCcq5iQvyfLOVvQG4NUTl3-IMPe_cdQwsI</string>
	<key>GCM_SENDER_ID</key>
	<string>989039084471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanhnv.demo</string>
	<key>PROJECT_ID</key>
	<string>fir-bbe1c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-bbe1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989039084471:ios:fa8f33d13ca0e2b7ce5e32</string>
</dict>
</plist>